.side-nav {
    transform: translateX(0%) !important;
}
.page-title{
  font-size: 20 !important;
  font-weight: bolder !important;
}
.selection-title{
  font-size: 20 !important;
  font-weight: bolder !important;
  color: darkgray !important
}
.mother{
  margin-top: 30px !important;
}
.item-single{
  margin-bottom: 50 !important;
}
.option-s{
  color: darkgray !important;
}
.marg3{
  margin-right: 30 !important;
}
.distance{
  font-size: large !important;
  font-weight: bold !important;
<<<<<<< HEAD
=======
}
body{
  color: snow;
  list-style : none;
  text-decoration: none;
}
a{
  list-style : none;
  text-decoration: none;
}
.title{
  font-size: 25px;
  margin-top: 40px;
  font-weight: bold;
  color: darkgray;
  align-self: center;
}
#route-list{
  display: flex;
  flex-direction: column;
}
.route-item{
  font-size: 24px;
  background-color: lightskyblue;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}
.route-item:hover{
  background-color: rgb(45, 138, 195);
  cursor: pointer;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: spin 2s linear infinite;
  align-self: flex-end;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.con{
  flex-direction: column;
}
.main{
  background-image: url('background.jpg');
  background-size: cover;

  /* opacity: 0.99;
  background-color: #3498db; */
>>>>>>> master
}